* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 14px;
}
body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--surface-ground);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --transition-duration: 0.2s;
  // --surface-ground: #eff3f8;
  // --surface-border: #dfe7ef;
  --card-shadow: 0px 4px 30px rgba(221, 224, 255, 0.54);
}

